@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  transform-style: preserve-3d;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}

.sidebar {
  background: rgba(0, 0, 0, 0.4);
  padding: 12.5%;
}

header, footer {
  grid-column: span 3;
  height: auto;
  background: red;
}

.main-content {
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  height: auto;
}

.container, .calendar_container {
  padding: 2px;
  border: 1px solid;
  font-family: "Teachers", sans-serif;
}

.container, .prev_calendar, .next_calendar {
  display: none;
}

.calendar_container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
  transition: all 0.5s ease;
}

.start_left {
  left: -100%;
  z-index: 999;
}

.start_right {
  left: 100%;
  z-index: 999;
}

.visible {
  left: 0;
}

.invisible_right {
  position: absolute;
  top: 0;
  left: 100% !important; /* Initially off-screen to the right */
  width: 100%;
  height: 50vh; /* Full viewport height */
  background-color: #f4f4f4;
  transition: left 0.5s ease;
}

.invisible_left {
  position: absolute;
  top: 0;
  left: -100% !important; /* Initially off-screen to the left */
  width: 100%;
  height: 50vh; /* Full viewport height */
  background-color: #f4f4f4;
  transition: left 0.5s ease;
}

.hamburger-menu {
  display: none;
}

.overall_container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 25%;
  height: 57.25vh;
  margin: auto;
  border: 1px solid;
  margin-top: 6vh;
}

table, .calendar_grid {
  display: block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.daycell {
  color: black;
  font-size: 15px;
  background: none;
  opacity: 1;
}

.currentcell {
  color: red;
}
.currentcell:hover {
  cursor: pointer;
  background: rgba(0, 0, 255, 0.5);
  transition: all 2s ease;
}

.oddcell {
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
}

.selected {
  background: rgba(0, 0, 0, 0.3);
}

label {
  display: inline-block;
  min-width: 110px;
  margin: 5px 10px 5px auto;
}

input {
  width: 120px;
  display: inline-block;
  margin: 5px auto;
  font-size: 15px;
}

.form_btns {
  margin: 5px auto;
}

.todo {
  padding: 20px;
  width: auto;
  height: 50vh;
  border: 2px solid;
  border-radius: 30px;
  color: white;
  background: green;
}

button {
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
}

.expand {
  transform: scale(5.5);
  margin: auto;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  z-index: 2;
  transition: all 3s ease;
}

tr, td, th, table, .newrow, .day_row, .calendar_grid, .label_row .label_weekday {
  width: auto;
  border: 1px solid;
  text-align: center;
}

td, th, .label_weekday {
  width: 50px;
  height: 50px;
  padding: auto;
}

.fulldate, .datelabel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.secondary-nav {
  width: 70%;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  list-style-type: none;
}
.secondary-nav li a {
  position: relative;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px #0f1304;
}
.secondary-nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: white;
  min-width: 0;
  height: 2px;
  transition: min-width 1s ease;
}
.secondary-nav li a:hover::before {
  min-width: 100%;
}

.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 2px 20px;
  background-image: url("./calendar.jpg");
  background-size: cover;
  background-position: -60vh -100vh;
  position: sticky;
  top: 0;
  z-index: 10;
}

footer {
  padding: 2px 20px;
  background-image: url("./calendar.jpg");
  background-size: cover;
}

.left {
  padding: 25px;
  width: 250px;
}
.left .side-logo {
  width: 200px;
  border-radius: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav i {
  width: 40px;
  height: 40px;
  padding: auto 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
}
.nav i:hover {
  cursor: pointer;
  background: grey;
  color: red;
  transition: all 1s ease;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}

.main-content {
  width: 20vh;
}

@media only screen and (min-width: 768px) and (max-width: 1189px) {
  body {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
  }
  .container, .overall_container, .calendar_grid {
    width: 51.65vh;
    transform: scale(1);
  }
  .overall_container {
    margin-top: 6vh;
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
  }
  .container, .overall_container, .calendar_grid {
    width: 51.65vh;
    transform: scale(1);
  }
  .overall_container {
    margin-top: 6vh;
  }
  .hamburger-menu {
    display: block;
  }
  .secondary-nav {
    position: unset;
    display: none;
  }
}/*# sourceMappingURL=tableCalendar.css.map */